/*
----------------------------------------------
General CSS
----------------------------------------------
*/
* {
  font-family: 'Roboto';
  font-weight: 100; }

.button-primary {
  background-color: #ff9f1c;
  color: white; }
  .button-primary.focus, .button-primary:focus, .button-primary:hover {
    background-color: #ef931a;
    color: white; }
  .button-primary.active, .button-primary.active:hover, .button-primary:active, .button-primary:active:hover {
    background-color: #d88517;
    color: white; }

body {
  padding-top: 50px;
  /* Fixed Navber */ }
  body p {
    font-size: 16px; }

.main-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.section-default {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 60px; }
  .section-default h1,
  .section-default h2,
  .section-default h3,
  .section-default h4,
  .section-default h5 {
    color: #ff9f1c; }
  .section-default p {
    font-size: 16px; }

.section-primary {
  background-color: #ff9f1c;
  padding-top: 30px;
  padding-bottom: 60px; }
  .section-primary h1,
  .section-primary h2,
  .section-primary h3,
  .section-primary h4,
  .section-primary h5 {
    color: white; }
  .section-primary p {
    font-size: 16px; }

.no-padding {
  padding: 0; }

.no-padding-bottom {
  padding-bottom: 0; }

.match-padding-top {
  padding-bottom: 30px; }

.section-header {
  padding: 10px 0; }
  .section-header h1 {
    font-size: 3em;
    text-align: center; }
  .section-header h3 {
    font-size: 2em;
    text-align: center; }

/*
----------------------------------------------
Home Page CSS
----------------------------------------------
*/
.services-icon {
  display: block;
  border-bottom: 5px solid #ff9f1c;
  padding: 30px 0;
  width: 200px;
  margin: auto; }

.services-info h2 {
  text-align: center; }
.services-info p {
  text-align: justify;
  padding-right: 30px; }

.services-icon > span {
  display: block;
  font-size: 7em;
  margin: auto;
  text-align: center;
  color: #ff9f1c; }

@media (max-width: 767px) {
  .services-info > p {
    padding-right: 0; } }
.figures-stat {
  padding: 20px 10px;
  text-align: center; }
  .figures-stat .figure-container {
    border-bottom: 5px solid white;
    width: 60%;
    margin: auto;
    animation: none; }

.contact-button {
  margin-top: 35px; }

#footer {
  padding: 20px 0;
  background-color: #011627;
  color: white; }

.footer-nav {
  list-style: none;
  padding: 0;
  text-align: center; }
  .footer-nav li {
    display: inline-block;
    font-size: 16px; }
    .footer-nav li a {
      color: white;
      text-decoration: none; }
    .footer-nav li a:hover {
      color: #ff9f1c; }

.footer-nav.smaller-text li a {
  font-size: 14px; }

#facebook-icon,
#googleplus-icon,
#linkedin-icon,
#twitter-icon {
  margin: 0 5px;
  color: #011627;
  background-color: white;
  border-radius: 50%;
  -webkit-border-radius: 50%; }
  #facebook-icon a,
  #googleplus-icon a,
  #linkedin-icon a,
  #twitter-icon a {
    color: #011627; }

#googleplus-icon {
  padding: 10px 8px; }

#linkedin-icon,
#twitter-icon {
  padding: 10px 12px; }

#facebook-icon {
  padding: 10px 15px; }

#copyright {
  background-color: black;
  color: white;
  padding-top: 10px; }
  #copyright p {
    text-align: center; }

@media (min-width: 768px) and (max-width: 991px) {
  .services-icon {
    margin-top: 65px;
    border-right: 5px solid #ff9f1c;
    border-bottom: 0; }

  .services-info h2,
  .services-info p {
    text-align: left; } }
@media (max-width: 767px) {
  .contact-button {
    margin-top: 0; } }
/* Slider CSS */
#header-carousel .carousel-inner {
  max-height: 500px; }

.carousel-inner > .item > a > img,
.carousel-inner > .item > img {
  width: 100%;
  margin: auto; }

#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0;
  border-radius: 4px; }

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none; }

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 300px;
  background: #cccccc;
  text-align: center;
  line-height: 300px; }

a.control_next,
a.control_prev {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer; }

a.control_next:hover,
a.control_prev:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease; }

a.control_prev {
  border-radius: 0 2px 2px 0; }

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px; }

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px; }

.image {
  position: relative;
  width: 100%; }

#feedback-carousel {
  width: 100%; }

#feedback-carousel .carousel-inner {
  background-image: url("../images/image11.jpg");
  background-size: cover;
  min-height: 400px; }
#feedback-carousel .item a {
  float: left;
  display: inline-block;
  width: 200px;
  height: 200px;
  border: 1px solid white;
  text-decoration: none; }
#feedback-carousel .Carousel-caption {
  text-align: center;
  margin-top: 200px;
  color: white; }

.carousel-text {
  position: absolute;
  bottom: 12.5%;
  margin: auto;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  width: 75%;
  left: 12.5%;
  height: 75%; }
  .carousel-text h1,
  .carousel-text h2,
  .carousel-text h3,
  .carousel-text h4,
  .carousel-text h5,
  .carousel-text h6,
  .carousel-text p {
    position: relative;
    top: 25%;
    color: white; }
  .carousel-text h1 {
    font-size: calc(14px + 2.5vw); }
  .carousel-text p {
    font-size: calc(10px + 1.5vw); }

@media screen and (max-width: 379px) {
  .carousel-text p {
    display: none; } }
/*Navbar CSS*/
.navbar-default {
  background-color: #011627;
  border-color: white; }
  .navbar-default .navbar-brand {
    color: #ff9f1c;
    font-size: 20px; }
    .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
      color: #e71d36; }
  .navbar-default .navbar-text {
    color: #ff9f1c; }
  .navbar-default .navbar-nav > li > a {
    color: #ff9f1c;
    font-size: 20px; }
    .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
      color: #e71d36; }
  .navbar-default .navbar-nav > .active > a:focus,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a {
    color: #e71d36;
    background-color: white; }
  .navbar-default .navbar-nav > .open > a:focus,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a {
    color: #e71d36;
    background-color: white; }
  .navbar-default .navbar-toggle {
    border-color: white; }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
      background-color: white; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #ff9f1c; }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #ff9f1c; }
  .navbar-default .navbar-link {
    color: #ff9f1c; }
    .navbar-default .navbar-link:hover {
      color: #e71d36; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ff9f1c; }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
      color: #e71d36; }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a {
    color: #e71d36;
    background-color: white; } }
@media (max-width: 819px) {
  .navbar-header {
    float: none; }

  .navbar-left,
  .navbar-right {
    float: none !important; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }

  .navbar-nav > li {
    float: none; }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }

  .collapse.in {
    display: block !important; } }
.row .medium-12 {
  background-color: #e71d36;
  padding: 70px;
  background-size: contain;
  text-align: center; }

.title {
  font-size-adjust: auto;
  font-family: cursive;
  color: white;
  font-size: 70px; }

.lead {
  text-align: center;
  padding: 90px;
  font-size: 20px;
  color: #e71d36; }

.team {
  padding: 70px; }
  .team img {
    height: 100px;
    width: 100px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }
  .team h2 {
    color: #e71d36; }
  .team h3 {
    color: pink; }

.empty {
  padding: 70px;
  border-radius: 50%; }

/*
----------------------------------------------
Contact Us Page CSS
----------------------------------------------
*/
.contact-section {
  padding-top: 60px; }

.image-format {
  background-image: url("../images/image11.jpg");
  background-size: cover;
  min-height: 300px;
  padding-top: 10px; }

.text-format {
  color: #ffffff;
  font-size: 50px;
  text-align: center;
  padding-top: 10%;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }

/* Contact Us Form */
.address-block address {
  font-size: 16px;
  display: block;
  font-style: italic; }

#paella-call {
  padding-top: 10px; }

#map {
  height: 600px; }

#map-directions {
  font-family: 'Roboto', Arial;
  color: #427fed;
  font-weight: 400;
  display: block;
  margin: 2px 0; }
  #map-directions i {
    margin-left: 5px;
    padding-right: 10px; }

#map-info {
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.29804) 0 1px 4px -1px;
  background-color: white;
  padding: 10px;
  font-family: Roboto, Arial;
  font-size: 13px;
  margin: 15px; }
  #map-info address {
    font-weight: 300;
    margin-bottom: 0; }

@media (max-width: 767px) {
  #map-info {
    width: 200px; } }
/*
----------------------------------------------
Company Page CSS
----------------------------------------------
*/
/* Introduction Section */
.intro-heading h1 {
  margin-bottom: 50px; }
.intro-heading p {
  padding: 10px 20px 30px;
  font-size: 20px;
  text-align: justify; }

.intro-wrapper {
  background-color: #ff9f1c;
  color: white; }

.intro-image {
  padding: 0; }
  .intro-image img {
    width: 100%;
    height: 100%; }

/* Team Section */
.about-wrapper {
  margin-bottom: 20px;
  border-bottom: 2px solid #011627; }
  .about-wrapper:last-of-type {
    border-bottom: none; }

.about-icon img {
  margin: auto; }

@media (min-width: 768px) and (max-width: 992px) {
  .about-icon img {
    margin-top: 60px; } }
.about-info h2,
.about-info h3 {
  margin-top: 10px; }
.about-info h2 {
  font-weight: bold;
  margin-top: 10px; }
.about-info p {
  text-align: justify;
  border-top: 2px solid #ff9f1c;
  padding-top: 10px; }
.about-info ul > li > i {
  color: #ff9f1c; }

/* History Section */
.section-cyan {
  background-color: #2ec4b6;
  padding-top: 30px;
  padding-bottom: 60px; }
  .section-cyan h1,
  .section-cyan h2,
  .section-cyan h3,
  .section-cyan h4,
  .section-cyan h5 {
    color: white; }
  .section-cyan p {
    font-size: 16px; }

.timeline-icon {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  color: #011627; }

.timeline-content,
.timeline-content-right {
  display: inline-block;
  width: 50%;
  padding: 10px 20px 20px; }
  .timeline-content div,
  .timeline-content-right div {
    border-radius: 5px;
    border-bottom: 2px solid #e71d36;
    padding: 10px 15px;
    text-align: justify;
    background-color: white;
    width: 97%; }
    .timeline-content div h2,
    .timeline-content-right div h2 {
      color: #e71d36;
      text-align: left; }

.timeline-content-right {
  border-left: 4px solid #e71d36;
  margin-left: calc(50% - 4px); }
  .timeline-content-right div {
    margin-left: 3%; }

.timeline-content {
  border-right: 4px solid #e71d36; }

@media (max-width: 992px) {
  .timeline-icon {
    left: 18px;
    margin-left: 0; }

  .timeline-content,
  .timeline-content-right {
    display: inline-block;
    width: 98%;
    margin-left: 30px;
    padding: 10px 20px 20px 30px;
    border-right: none;
    border-left: 4px solid #e71d36; }
    .timeline-content div,
    .timeline-content-right div {
      margin: 0; } }
.date h2,
.date-right h2 {
  margin-top: 10px; }

.date {
  display: inline-block;
  vertical-align: top;
  margin-left: 3%;
  color: white; }

.date-right {
  text-align: right;
  position: absolute;
  margin-right: 3%;
  vertical-align: top;
  right: 51%;
  top: 0; }

p.date-text {
  font-size: 14px;
  color: #e71d36; }

/*
----------------------------------------------
Blog Page CSS
----------------------------------------------
*/
#result {
  margin-bottom: 20%; }

#blog-error {
  text-align: center;
  padding: 7px 0;
  background-color: rgba(231, 29, 54, 0.6); }
  #blog-error h1 {
    color: #a61224; }
  #blog-error.hidden {
    display: hidden; }

.blog-format {
  border-style: solid;
  border-width: 2px; }

.blog-title {
  background-color: #ff9f1c;
  padding: 10px;
  font-size: 20px;
  color: white; }

.blog-time {
  background-color: #ff9f1c;
  padding: 10px;
  font-size: 20px;
  color: white; }

.blog-description {
  padding: 20px 10px 30px;
  font-size: 15px;
  text-align: justify;
  color: #011627; }

.fixed-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 190px;
  width: 100%; }

@media (max-width: 767px) {
  .footer-smalldevice {
    position: relative;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%; } }
/*
----------------------------------------------
Service Page CSS
----------------------------------------------
*/
.list-services-icon {
  display: block;
  padding: 25px 0; }

.list-services-icon > span {
  display: block;
  font-size: 3em;
  margin: auto;
  text-align: center;
  color: #ff9f1c; }

.services-icon-info {
  padding-right: 30px; }
  .services-icon-info h2 {
    font-size: 1.5em;
    color: #ff9f1c; }
  .services-icon-info p {
    text-align: justify;
    font-size: 1em; }

@media (max-width: 991px) {
  .img-services {
    display: none;
    position: relative; } }
/* Workflow Section */
.workflow-icon {
  display: block;
  position: absolute;
  left: 18px;
  color: #011627; }

.workflow-content {
  display: inline-block;
  width: 98%;
  padding: 10px 20px 20px 30px;
  border-left: 4px solid #e71d36;
  margin-left: 30px; }
  .workflow-content div {
    border-radius: 5px;
    border-bottom: 2px solid #e71d36;
    padding: 10px 15px;
    text-align: justify;
    background-color: white;
    width: 97%; }
    .workflow-content div h2 {
      display: block;
      color: #e71d36;
      text-align: left; }

input.read-more-state {
  display: none; }

p.read-more-target {
  font-size: 0;
  max-height: 0;
  opacity: 0;
  transition: 0.25s ease; }

input.read-more-state:checked + p.read-more-target {
  font-size: inherit;
  max-height: 999em;
  opacity: 1; }

input.read-more-state ~ label.read-more-trigger:before {
  content: 'Read more'; }

input.read-more-state:checked ~ label.read-more-trigger:before {
  content: 'Read less'; }

label.read-more-trigger {
  cursor: pointer;
  display: block;
  font-size: 14px;
  color: #e71d36; }

/*
----------------------------------------------
  (center image animation for mobile)
----------------------------------------------
*/
.img-services img {
  max-width: 80%;
  width: 100%;
  max-height: 70%;
  position: absolute;
  top: 0%;
  left: 16%;
  margin: auto;
  opacity: 0;
  animation-name: show;
  animation-delay: 2s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: linear; }
@keyframes draw {
  to {
    stroke-dashoffset: 0; } }
@keyframes show {
  to {
    opacity: 1; } }
/*
----------------------------------------------
Projects Page CSS
----------------------------------------------
*/
.project-wrapper {
  margin-top: 15px; }

@media (min-width: 993px) and (max-width: 1199px) {
  .project-image .link_overlay > i,
  .project-image img {
    margin-top: 50px; } }
.project-info h1 {
  margin-top: 0;
  padding: 5px 0;
  border-bottom: 3px solid #ff9f1c; }
.project-info h4 {
  margin: 15px auto; }
  .project-info h4 i {
    margin-right: 10px; }
.project-info p {
  text-align: justify; }

.link_overlay {
  background-color: #2ec4b6;
  color: white;
  font-size: 50px; }
  .link_overlay i {
    position: absolute;
    color: #fff;
    font-size: 30px;
    padding: 5px;
    width: 100%;
    top: 0; }
  .link_overlay img {
    position: relative;
    z-index: 100;
    -webkit-transition: all 500ms ease;
    /* Safari and Chrome */
    -moz-transition: all 500ms ease;
    /* Firefox */
    -ms-transition: all 500ms ease;
    /* IE 9 */
    -o-transition: all 500ms ease;
    /* Opera */
    transition: all 500ms ease; }
    .link_overlay img:hover {
      opacity: 0.1; }

#project-carousel .carousel-inner {
  min-height: 320px; }
#project-carousel .item a {
  text-decoration: none; }
#project-carousel .item h3 {
  border-bottom: 2px solid white; }

@media (max-width: 992px) {
  .item h3 {
    margin-top: 10px; }

  .project-item {
    margin-top: 30px; }

  #project-carousel .carousel-indicators {
    bottom: -35px; } }
@media (min-width: 993px) and (max-width: 1199px) {
  .carousel-indicators {
    bottom: 50px; } }
/*
----------------------------------------------
Projects Page ---- Technology Showcase CSS
----------------------------------------------
*/
.transformer-tabs h4 {
  font: 20px;
  color: white; }
.transformer-tabs ul {
  list-style: none;
  padding: 0;
  margin: 20px;
  background-color: #ff9f1c;
  border-bottom: solid #e71d36 3px; }
.transformer-tabs li {
  display: inline-block;
  padding: 1px;
  vertical-align: bottom;
  border-right: solid white 1px; }
  .transformer-tabs li:nth-child(n) .active {
    border-bottom: solid white 3px; }
.transformer-tabs a {
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem; }
  .transformer-tabs a.active {
    border-bottom: 2px solid transparent;
    position: relative;
    bottom: -3px; }
@media (max-width: 700px) {
  .transformer-tabs ul {
    border-bottom: 0;
    overflow: hidden;
    position: relative;
    background: #ff9f1c; }
    .transformer-tabs ul::after {
      border-bottom: 0;
      content: "\2193";
      color: white;
      position: absolute;
      top: 15px;
      right: 25px;
      z-index: 2;
      pointer-events: none; }
    .transformer-tabs ul.open a {
      border-bottom: 0;
      position: relative;
      display: block; }
  .transformer-tabs li {
    border-bottom: 0;
    display: block; }
    .transformer-tabs li:nth-child(n) .active {
      border-bottom: 0; }
  .transformer-tabs a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .transformer-tabs a.active {
      border-bottom: 0;
      border: 0;
      z-index: 1;
      background: #ff9f1c; } }

.tabs > div {
  display: none;
  padding: 1rem; }
  .tabs > div:nth-of-type(n) {
    background: white; }
.tabs > .active {
  display: block; }

/*# sourceMappingURL=template.css.map */
