/*
----------------------------------------------
General CSS
----------------------------------------------
*/
$primary-color: rgb(255,159,28);
$primary-color-dark: rgb(239,147,26);
$primary-color-darker: rgb(216,133,23);
$secondary-color: rgb( 231, 29, 54);
$tertiary-color: rgb(1,22,39);
$quaternary-color: rgb(46, 196, 182);
$footer-color: rgb(1,22,39);
$copyright-color: rgb(0,0,0);

* {
    font-family: 'Roboto';
    font-weight: 100;
}
@mixin button-setup($bg-default, $text, $bg-hover, $text-hover, $bg-pressed, $text-pressed) {
    // default
    background-color: $bg-default;
    color: $text;
    // hover
    &.focus,
    &:focus,
    &:hover {
        background-color: $bg-hover;
        color: $text-hover;
    }
    // pressed down
    &.active,
    &.active:hover,
    &:active,
    &:active:hover {
        background-color: $bg-pressed;
        color: $text-pressed;
    }
}

.button-primary {
    @include button-setup($primary-color,white,$primary-color-dark,white,$primary-color-darker,white);
}
// Body CSS

body {
    padding-top: 50px;
    /* Fixed Navber */
    p {
        font-size: 16px;
    }
}

.main-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
// Section CSS
@mixin section-setup($bg-color, $color) {
    background-color: $bg-color;
    padding-top: 30px;
    padding-bottom: 60px;

    h1,
    h2,
    h3,
    h4,
    h5 {
        color: $color;
    }

    p {
        font-size: 16px;
    }
}

.section-default {
    @include section-setup(white, $primary-color);
}

.section-primary {
    @include section-setup($primary-color, white);
}

.no-padding {
    padding: 0;
}

.no-padding-bottom {
    padding-bottom: 0;
}

.match-padding-top {
    padding-bottom: 30px;
}

.section-header {
    padding: 10px 0;

    h1 {
        font-size: 3em;
        text-align: center;
    }

    h3 {
        font-size: 2em;
        text-align: center;
    }
}
/*
----------------------------------------------
Home Page CSS
----------------------------------------------
*/
// Services Section CSS

.services-icon {
    display: block;
    border-bottom: 5px solid $primary-color;
    padding: 30px 0;
    width: 200px;
    margin: auto;
}

.services-info {
    h2 {
        text-align: center;
    }

    p {
        text-align: justify;
        padding-right: 30px;
    }
}

.services-icon > span {
    display: block;
    font-size: 7em;
    margin: auto;
    text-align: center;
    color: $primary-color;
}
@media(max-width: 767px) {
    .services-info > p {
        padding-right: 0;
    }
}
// Figures Section CSS

.figures-stat {
    padding: 20px 10px;
    text-align: center;

    .figure-container {
        border-bottom: 5px solid white;
        width: 60%;
        margin: auto;
        animation: none;
    }
}
// Contact Us Section CSS

.contact-button {
    margin-top: 35px;
}
// Footer Section CSS

#footer {
    padding: 20px 0;
    background-color: $footer-color;
    color: white;
}

.footer-nav {
    list-style: none;
    padding: 0;
    text-align: center;

    li {
        display: inline-block;
        font-size: 16px;

        a {
            color: white;
            text-decoration: none;
        }

        a:hover {
            color: $primary-color;
        }
    }
}

.footer-nav.smaller-text {
    li {
        a {
            font-size: 14px;
        }
    }
}

#facebook-icon,
#googleplus-icon,
#linkedin-icon,
#twitter-icon {
    margin: 0 5px;
    color: $footer-color;
    background-color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;

    a {
        color: $footer-color;
    }
}

#googleplus-icon {
    padding: 10px 8px;
}

#linkedin-icon,
#twitter-icon {
    padding: 10px 12px;
}

#facebook-icon {
    padding: 10px 15px;
}
// Copyright Section CSS

#copyright {
    background-color: $copyright-color;
    color: white;
    padding-top: 10px;

    p {
        text-align: center;
    }
}
// Small Devices Only
@media(min-width: 768px) and (max-width: 991px) {
    // Services Section CSS
    .services-icon {
        margin-top: 65px;
        border-right: 5px solid $primary-color;
        border-bottom: 0;
    }

    .services-info {
        h2,
        p {
            text-align: left;
        }
    }
}
// Extra Small Devices
@media(max-width: 767px) {
    // Contact Us Section
    .contact-button {
        margin-top: 0;
    }
}
/* Slider CSS */
#header-carousel {
    .carousel-inner {
        max-height: 500px;
    }
}

.carousel-inner > .item > a > img,
.carousel-inner > .item > img {
    width: 100%;
    margin: auto;
}

#slider {
    position: relative;
    overflow: hidden;
    margin: 20px auto 0;
    border-radius: 4px;
}

#slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none;
}

#slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 500px;
    height: 300px;
    background: rgb(204,204,204);
    text-align: center;
    line-height: 300px;
}

a.control_next,
a.control_prev {
    position: absolute;
    top: 40%;
    z-index: 999;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    background: rgb(42,42,42);
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer;
}

a.control_next:hover,
a.control_prev:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
}

a.control_prev {
    border-radius: 0 2px 2px 0;
}

a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px;
}

.slider_option {
    position: relative;
    margin: 10px auto;
    width: 160px;
    font-size: 18px;
}

.image {
    position: relative;
    width: 100%;
}

#feedback-carousel {
    width: 100%;
}

#feedback-carousel {
    .carousel-inner {
        background-image: url("../images/image11.jpg");
        background-size: cover;
        min-height: 400px;
    }

    .item {
        a {
            float: left;
            display: inline-block;
            width: 200px;
            height: 200px;
            border: 1px solid white;
            text-decoration: none;
        }
    }

    .Carousel-caption {
        text-align: center;
        margin-top: 200px;
        color: white;
    }
}

.carousel-text {
    position: absolute;
    bottom: 12.5%;
    margin: auto;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    width: 75%;
    left: 12.5%;
    height: 75%;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        position: relative;
        top: 25%;
        color: white;
    }

    h1 {
        font-size: calc(14px + 2.5vw);
    }

    p {
        font-size: calc(10px + 1.5vw);
    }
}
@media screen and (max-width: 379px) {
    .carousel-text {
        p {
            display: none;
        }
    }
}
/*Navbar CSS*/
$bgDefault: white;
$bgHighlight: white;
$colDefault: rgb(255,159,28);
$colHighlight: rgb(231,29,54);
$colNavbg: rgb(1,22,39);
$dropDown: false;

.navbar-default {
    background-color: $colNavbg;
    border-color: $bgHighlight;

    .navbar-brand {
        color: $colDefault;
        font-size: 20px;

        &:focus,
        &:hover {
            color: $colHighlight;
        }
    }

    .navbar-text {
        color: $colDefault;
    }

    .navbar-nav {
        > li {
            > a {
                color: $colDefault;
                font-size: 20px;

                &:focus,
                &:hover {
                    color: $colHighlight;
                }
            }
            @if $dropDown {
                > .dropdown-menu {
                    background-color: $bgDefault;

                    > li {
                        > a {
                            color: $colDefault;

                            &:focus,
                            &:hover {
                                color: $colHighlight;
                                background-color: $bgHighlight;
                            }
                        }

                        > .divider {
                            background-color: $bgHighlight;
                        }
                    }
                }
            }
        }
        @if $dropDown {
            .open .dropdown-menu > .active {
                 > a:focus,
                 > a:hover,
                > a {
                    color: $colHighlight;
                    background-color: $bgHighlight;
                }
            }
        }

        > .active {
             > a:focus,
             > a:hover,
            > a {
                color: $colHighlight;
                background-color: $bgHighlight;
            }
        }

        > .open {
             > a:focus,
             > a:hover,
            > a {
                color: $colHighlight;
                background-color: $bgHighlight;
            }
        }
    }

    .navbar-toggle {
        border-color: $bgHighlight;

        &:focus,
        &:hover {
            background-color: $bgHighlight;
        }

        .icon-bar {
            background-color: $colDefault;
        }
    }

    .navbar-collapse,
    .navbar-form {
        border-color: $colDefault;
    }

    .navbar-link {
        color: $colDefault;

        &:hover {
            color: $colHighlight;
        }
    }
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu {
        > li > a {
            color: $colDefault;

            &:focus,
            &:hover {
                color: $colHighlight;
            }
        }

        > .active {
             > a:focus,
             > a:hover,
            > a {
                color: $colHighlight;
                background-color: $bgHighlight;
            }
        }
    }
}
// Activate Navbar Collapse at different width
@media (max-width: 819px) {
    .navbar-header {
        float: none;
    }

    .navbar-left,
    .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none!important;
    }

    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .collapse.in {
        display: block !important;
    }
}

.row {
    .medium-12 {
        background-color: $colHighlight;
        padding: 70px;
        background-size: contain;
        text-align: center;
    }
}

.title {
    font-size-adjust: auto;
    font-family: cursive;
    color: white;
    font-size: 70px;
}

.lead {
    text-align: center;
    padding: 90px;
    font-size: 20px;
    color: $colHighlight;
}

.team {
    padding: 70px;

    img {
        height: 100px;
        width: 100px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    h2 {
        color: $colHighlight;
    }

    h3 {
        color: pink;
    }
}

.empty {
    padding: 70px;
    border-radius: 50%;
}
/*
----------------------------------------------
Contact Us Page CSS
----------------------------------------------
*/
.contact-section {
    padding-top: 60px;
}

.image-format {
    background-image: url("../images/image11.jpg");
    background-size: cover;
    min-height: 300px;
    padding-top: 10px;
}

.text-format {
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    padding-top: 10%;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
/* Contact Us Form */
.address-block {
    address {
        font-size: 16px;
        display: block;
        font-style: italic;
    }
}

#paella-call {
    padding-top: 10px;
}

#map {
    height: 600px;
}

#map-directions {
    font-family: 'Roboto', Arial;
    color: #427fed;
    font-weight: 400;
    display: block;
    margin: 2px 0;

    i {
        margin-left: 5px;
        padding-right: 10px;
    }
}

#map-info {
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0 1px 4px -1px;
    background-color: white;
    padding: 10px;
    font-family: Roboto, Arial;
    font-size: 13px;
    margin: 15px;

    address {
        font-weight: 300;
        margin-bottom: 0;
    }
}
@media (max-width:767px) {
    #map-info {
        width: 200px;
    }
}
/*
----------------------------------------------
Company Page CSS
----------------------------------------------
*/
/* Introduction Section */
.intro-heading {
    h1 {
        margin-bottom: 50px;
    }

    p {
        padding: 10px 20px 30px;
        font-size: 20px;
        text-align: justify;
    }
}

.intro-wrapper {
    background-color: $primary-color;
    color: white;
}

.intro-image {
    padding: 0;

    img {
        width: 100%;
        height: 100%;
    }
}
/* Team Section */
.about-wrapper {
    margin-bottom: 20px;
    border-bottom: 2px solid $tertiary-color;

    &:last-of-type {
        border-bottom: none;
    }
}

.about-icon {
    img {
        margin: auto;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .about-icon {
        img {
            margin-top: 60px;
        }
    }
}

.about-info {
    h2,
    h3 {
        margin-top: 10px;
    }

    h2 {
        font-weight: bold;
        margin-top: 10px;
    }

    p {
        text-align: justify;
        border-top: 2px solid $primary-color;
        padding-top: 10px;
    }

    ul > li > i {
        color: $primary-color;
    }
}
/* History Section */
$line-width: 4px;

.section-cyan {
    @include section-setup($quaternary-color, white);
}

.timeline-icon {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    color: $tertiary-color;
}

.timeline-content,
.timeline-content-right {
    display: inline-block;
    width: 50%;
    padding: 10px 20px 20px;
    // Timeline Box - holds the content
    div {
        border-radius: 5px;
        border-bottom: 2px solid $secondary-color;
        padding: 10px 15px;
        text-align: justify;
        background-color: white;
        width: 97%;

        h2 {
            color: $secondary-color;
            text-align: left;
        }
    }
}

.timeline-content-right {
    border-left: $line-width solid $secondary-color;
    margin-left: calc(50% - #{$line-width});

    div {
        margin-left: 3%;
    }
}

.timeline-content {
    border-right: $line-width solid $secondary-color;
}
// Timeline Media Queries
@media(max-width: 992px) {
    .timeline-icon {
        left: 18px;
        margin-left: 0;
    }
    // Make all timeline content appear right of the line
    .timeline-content,
    .timeline-content-right {
        display: inline-block;
        width: 98%;
        margin-left: 30px;
        padding: 10px 20px 20px 30px;
        border-right: none;
        border-left: $line-width solid $secondary-color;

        div {
            margin: 0;
        }
    }
}
// Timeline Dates

.date,
.date-right {
    h2 {
        margin-top: 10px;
    }
}

.date {
    display: inline-block;
    vertical-align: top;
    margin-left: 3%;
    color: white;
}

.date-right {
    text-align: right;
    position: absolute;
    margin-right: 3%;
    vertical-align: top;
    right: 51%;
    top: 0;
}

p.date-text {
    font-size: 14px;
    color: $secondary-color;
}
/*
----------------------------------------------
Blog Page CSS
----------------------------------------------
*/
#result {
    margin-bottom: 20%;
}

#blog-error {
    text-align: center;
    padding: 7px 0;
    background-color: rgba(231, 29, 54, 0.6);

    h1 {
        color: rgb(166,18,36);
    }

    &.hidden {
        display: hidden;
    }
}

.blog-format {
    border-style: solid;
    border-width: 2px;
}

.blog-title {
    background-color: $primary-color;
    padding: 10px;
    font-size: 20px;
    color: white;
}

.blog-time {
    background-color: $primary-color;
    padding: 10px;
    font-size: 20px;
    color: white;
}

.blog-description {
    padding: 20px 10px 30px;
    font-size: 15px;
    text-align: justify;
    color: $tertiary-color;
}

.fixed-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 190px;
    width: 100%;
}
@media(max-width: 767px) {
    // Services Section CSS
    .footer-smalldevice {
        position: relative;
        left: 0;
        bottom: 0;
        height: 100px;
        width: 100%;
    }
}
/*
----------------------------------------------
Service Page CSS
----------------------------------------------
*/
.list-services-icon {
    display: block;
    padding: 25px 0;
}

.list-services-icon > span {
    display: block;
    font-size: 3em;
    margin: auto;
    text-align: center;
    color: $primary-color;
}

.services-icon-info {
    padding-right: 30px;

    h2 {
        font-size: 1.5em;
        color: $primary-color;
    }

    p {
        text-align: justify;
        font-size: 1em;
    }
}
// Small Devices Only
@media(max-width: 991px) {
    // Services Section CSS
    .img-services {
        display: none;
        position: relative;
    }
}
/* Workflow Section */
.workflow-icon {
    display: block;
    position: absolute;
    left: 18px;
    color: $tertiary-color;
}

.workflow-content {
    display: inline-block;
    width: 98%;
    padding: 10px 20px 20px 30px;
    border-left: $line-width solid $secondary-color;
    margin-left: 30px;
    // Workflow Box - holds the content
    div {
        border-radius: 5px;
        border-bottom: 2px solid $secondary-color;
        padding: 10px 15px;
        text-align: justify;
        background-color: white;
        width: 97%;

        h2 {
            display: block;
            color: $secondary-color;
            text-align: left;
        }
    }
}
// Read More CSS

input.read-more-state {
    display: none;
}

p.read-more-target {
    font-size: 0;
    max-height: 0;
    opacity: 0;
    transition: 0.25s ease;
}

input.read-more-state:checked + p.read-more-target {
    font-size: inherit;
    max-height: 999em;
    opacity: 1;
}

input.read-more-state ~ label.read-more-trigger:before {
    content: 'Read more';
}

input.read-more-state:checked ~ label.read-more-trigger:before {
    content: 'Read less';
}

label.read-more-trigger {
    cursor: pointer;
    display: block;
    font-size: 14px;
    color: $secondary-color;
}
/*
----------------------------------------------
  (center image animation for mobile)
----------------------------------------------
*/


.img-services{

img {
  max-width: 80%;
  width: 100%;
    max-height: 70%;
  position: absolute;
  top: 0%;
  left: 16%;
    margin: auto;
  opacity: 0;
  animation-name: show;
  animation-delay: 2s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: linear; }

@keyframes draw {
  to {
    stroke-dashoffset: 0; } }
@keyframes show {
  to {
    opacity: 1; } }

}
/*
----------------------------------------------
Projects Page CSS
----------------------------------------------
*/
.project-wrapper {
    margin-top: 15px;
}
@media (min-width: 993px) and (max-width: 1199px) {
    .project-image {
        .link_overlay > i,
        img {
            margin-top: 50px;
        }
    }
}

.project-info {
    h1 {
        margin-top: 0;
        padding: 5px 0;
        border-bottom: 3px solid $primary-color;
    }

    h4 {
        margin: 15px auto;

        i {
            margin-right: 10px;
        }
    }

    p {
        text-align: justify;
    }
}

.link_overlay {
    background-color: $quaternary-color;
    color: white;
    font-size: 50px;

    i {
        position: absolute;
        color: #fff;
        font-size: 30px;
        padding: 5px;
        width: 100%;
        top: 0;
    }

    img {
        position: relative;
        z-index: 100;
        -webkit-transition: all 500ms ease;
        /* Safari and Chrome */
        -moz-transition: all 500ms ease;
        /* Firefox */
        -ms-transition: all 500ms ease;
        /* IE 9 */
        -o-transition: all 500ms ease;
        /* Opera */
        transition: all 500ms ease;

        &:hover {
            opacity: 0.1;
        }
    }
}




#project-carousel {
    .carousel-inner {
        min-height: 320px;
    }

    .item {
        a {
            text-decoration: none;
        }

        h3 {
            border-bottom: 2px solid white;
        }
    }
}
@media (max-width: 992px) {
    .item {
        h3 {
            margin-top: 10px;
        }
    }

    .project-item {
        margin-top: 30px;
    }

    #project-carousel {
        .carousel-indicators {
            bottom: -35px;
        }
    }
}
@media (min-width: 993px) and (max-width: 1199px) {
    .carousel-indicators {
        bottom: 50px;
    }
}



/*
----------------------------------------------
Projects Page ---- Technology Showcase CSS
----------------------------------------------
*/


.transformer-tabs {
   
    
    h4{
         font: 20px;
        color:white;
    }
  ul {
    list-style: none;
    padding: 0;
    margin: 20px;
    background-color: $primary-color;
      border-bottom :solid $secondary-color 3px;
  }
  li {
    display: inline-block;
    padding: 1px;
          vertical-align: bottom;
     border-right:solid white 1px;
    &:nth-child(n) .active {
      border-bottom :solid white 3px;
         
    }
    
    
  }
  a {
    display: inline-block;
    
    text-decoration: none;
    padding: 0.5rem;
    &.active {
      border-bottom: 2px solid transparent;
      position: relative;
      bottom: -3px;
    }
     
  }
  @media (max-width: 700px) {
     
    ul {
      border-bottom: 0;
      overflow: hidden;
      position: relative;
      background: $primary-color;
      &::after {
          border-bottom: 0;
        content: "\2193";
          color:white;
        position: absolute;
        top: 15px;
        right: 25px;
        z-index: 2;
        pointer-events: none;
      }
      &.open {
        a {
            border-bottom: 0;
          position: relative;
          display: block;
        }
      }
    }
    li {
        border-bottom: 0;
      display: block;
        
        &:nth-child(n) .active {
      border-bottom :0;
       
         
    }
      
    }
    a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      &.active {
          border-bottom: 0;
        border: 0;
        z-index: 1;
        background: $primary-color;
      }
    }
  }
}

.tabs {
  > div {
    display: none;
    padding: 1rem;
    &:nth-of-type(n) {
      background: white; 
    }
    
    
    
  }
  > .active {
    display: block;
  }
}








