body {
  background-color: #FF9F1C;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.center {
  min-width: 565px;
  vertical-align: middle;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  text-align: center;
}

.icon {
  font-size: 2em;
  text-decoration: none;
  color: #ffffff;
  margin: 5px;
}

.icon:hover {
  color: #E71D36;
}

.center div {
  margin-top: 15px;
}

.center h1, .center p {
  margin: 0;
}

.center h1 {
  font-size: 4em;
}

.center p {
  font-size: 3em;
}

.contact p {
  font-size: 1.5em;
}

.contact a {
  text-decoration: none;
  color: #2c3e50;
  font-weight: bold;
}

#company-logo {
  margin-bottom: 20px;
}

@media (max-width:599px) {
  .center {
    min-width: 320px;
  }

  .center h1 {
    font-size: 2.4em;
  }

  .center p {
    font-size: 1.9em;
  }

  .contact p {
    font-size: 1.4em;
  }
}
